{% for figure in figures %}
	<ul>
		<li>{{figure.name}}</li>
		<li>{{figure.description}}</li>
		<ul>
			{% for photo in figure.photos %}
				<li>
					<img src="{{ asset('img/'~photo.path) }}">
				</li>
			{% endfor %}
		</ul>
	</ul>
{% endfor %}
